#container {
    max-width: 1000px;
    margin:auto;
}

#triangle-down {
    margin-top: 20px;
    margin-left: 450px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid pink;
}
#main {
    position:relative;
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}
#photo {
    display: flex;
    align-items:flex-start;
    padding: 10px;
    margin-top: 30px;
    width:300px;
}

#aside {
    font-size: 20px;
    width:350px;
    


}
#footer{
    border:2px solid black;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
  
}

#logos {
    display:flex;
     justify-content: space-around;
     align-items: flex-end;
}
#arrow-down {
  width: 0; 
  height: 0; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid pink;
  position: absolute;
  left: 50%;
}
@media screen and (max-width:720px) {
    #main {
        display: flex;
        flex-wrap:wrap;
    }
    #footer {
        display:flex;
        flex-wrap:wrap;
    
}