#container {
    max-width: 1000px;
    background-color:AliceBlue;
    margin:auto;
}

#triangle-down {
    position: absolute;
    margin-top: 20px;
    margin-left: 450px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid HotPink;
}
#main {
    position:relative;
    display:grid;
    grid-template-columns: 1fr 1fr;
    
}
#photo {
    display: flex;
    align-items:flex-start;
    padding: 10px;
    margin-top: 130px;
}

#aside {
    font-size: 40px;
    margin-top:160px;
    padding-left: 40px;
    text-indent: 50px;
    text-align: justify;
    
}
#footer{
    border:2px solid black;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#contact {
    display: grid;
    padding-left: 60px;
    font-size: 15px;
}
#contact-form {
    padding-left: 80px;
    
}
#contact-form, p {
    font-size: 20px;
}

#arrow-down {
  width: 0; 
  height: 0; 
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 80px solid HotPink;
  position: absolute;
  left: 47.7%;
}
@media screen and (max-width:720px){
 #container{
     display: flex;
     flex-wrap:wrap;
     width:auto;
     
 }
 #triangle-down {
     display: flex;
     justify-content:flex-start;
 }

#main {
        display: flex;
        flex-wrap:wrap;
        width:auto;
    }

  
#footer {
        display:flex;
        flex-wrap:wrap;
        width:auto;
        
    
}