body {
    background-color: #FFA07A;
}

#menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    font-size: 50px;

}

@media screen and (max-width:720px) {
    #menu: {
        display: flex;
        flex-wrap: wrap;
    }


}

@media screen and (max-width:720px) {
    #main {
        display: flex;
        flex-wrap: wrap;
    }
    #footer {
        display: flex;
        flex-wrap: wrap;

    }
 
    